* {
    margin: 5px;
    padding: 3px;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    background-color: darkgray;
    padding: 3px;
    margin: 5px;
}

#container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
}

h1 {
    font-size: 45px;
    line-height: 2rem;
    align-content: center;
    color: #333;
    text-align: center;

}




.box1 {
    background-color: floralwhite;
    border: 1rem solid brown;
    padding: 1rem;
    margin: 1rem 0;

}

.box2 {
    background-color: floralwhite;
    border: 1rem solid brown;
    width: 30rem;
    padding: 1rem;
    margin: 2rem;
    height: 300px;
    overflow: auto;

}

.box3 {
    background-color: floralwhite;
    border: 1rem solid brown;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem 0;
}

.box4 {
    background-color: floralwhite;
    border: 1rem solid brown;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem 0;
}

.box5 {
    background-color: floralwhite;
    border: 1rem solid brown;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline;

}

li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px
}

figure {
    display: inline-block;

}

figcaption {
    text-align: center;

}

img {
    padding: 1rem;
    border: 4px solid darkgrey;
    outline: 10px solid rgba(255, 255, 255, 0.5);
    outline-offset: -2rem;
}
